.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.inputField{
    border: 1px solid ;
    border-radius: 4px;
    padding: 12px;
    width: 500px;
    font-size: 20px;
}

.submitBtn{
    border: 1px solid ;
    border-radius: 4px;
    background-color: black;
    color: white;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
    font-size: 20px;
}

.profileCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 16px;
    border-radius: 8px;
}

.userAvatar{
    height: 200px;
    width: 200px;
    margin: 16px 0px 0px 16px;
}

.cardHeader{
    display: flex;
}

.title{
    font-size: 16px;
}

.subTitle {
    font-weight: 500;
}

.repolistTitle{
    font-size: 20px;
    font-weight: 600;
}

.info{
    padding: 32px 16px;
}

 .repolist{
     padding: 16px;
 }

 .listItem{
     font-size: 16px;
     font-weight: 500;
 }